@import 'mixins';

.shopping-bag-header{
    margin: 0 auto;
    height: 80px;
    width: 100%;
    background-color: #c5c9c2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .plp-hero--content{
        color: #000;
        font-size: 28px;
        font-family: CABOTO, sans-serif;
        letter-spacing: 1px;
        white-space: nowrap;
        width: fit-content;

      

    }

   
}


.checkout-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    max-width: 1300px;

    @include mobile{
        flex-direction: column;
        max-width: 100vw;
        padding-right: 24px;
        padding-left: 24px;
        box-sizing: border-box;
    }
  }
  
  .shopping-bag {
    flex: 1;
    margin-right: 0px;
  }
  
  .shopping-bag-right{
    width: 31%;

    @include mobile{
        width: 100%;
    }
  }
  
  .order-summary {
    min-width: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 24px;
  }
  
  .product {
    display: flex;
    justify-content: space-between;

    @include mobile{
        flex-direction: column;
        margin: 20px 0;
    }
  }
  
  .product-image img {
    width: 150px;
  }
  
  .product-details {
    flex: 1;
    padding-left: 20px;
  }

  .header-logo{
    width: 70px;

    @include mobile{
      width: 50px;
    }
  }
  