.checkout-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  max-width: 1300px;
}

.shopping-bag {
  flex: 1;
  margin-right: 0px;
}

.shopping-bag-right{
  width: 31%;
}

.order-summary {
  min-width: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 24px;
}

.product {
  display: flex;
  justify-content: space-between;
}

.product-image img {
  width: 150px;
}

.product-details {
  flex: 1;
  padding-left: 20px;
}
